---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Dominican Republic'>
	<main class='h-screen grid place-items-center'>
		<p class='text-3xl font-semibold'>Dominican Republic</p>
	</main>
</Layout>
